
/logs
/local
/saves
/xaero
/modernfix
/downloads
/backups
/crash-reports

usercache.json
usernamecache.json
/config/jade/jade.json
/config/oculus.properties
/config/xaerominimap_entities.json
/config/sound_physics_remastered
/config/tacz